/jake-ui/node_modules/**/*
/jake-ui/app/bower_components/**/*
/jake-ui/app/styles/theme/**/*.css
/jake-service/.classpath
/jake-service/.project
/jake-service/.settings/**/*
/jake-service/target/**/*
