.home {
    .table {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        width: auto;
        
        .header {
            
            td {
                @extend %table-cell;
            }
            
            @extend %table-cell-second-column;
        }
        
        .body {
            
            td {
                @extend %table-cell;
                padding: 0;
                
            }
            
            @extend %table-cell-second-column;
        }
    }
    
    .punch {
        width: 5em;
        line-height: 12px;
        text-align: center;
    }
}


%table-cell {
    border: none;
    padding-left: 1em;
    padding-bottom: 0.5em;
}


%table-cell-second-column {
    td:first-child + td {
        padding-left: 0.1em;
    }
}