.navbar {
    .jake {
        line-height: 3em;
    }
    
    .welcome {
        line-height: 3em;
        padding-right: 3em;
    }
    
    .change {
        color: blue;
        font-size: 0.7em;
    }
}