.space-10 {
  margin-bottom: 10px;
}

.space-20 {
  margin-bottom: 20px;
}

.space-30 {
  margin-bottom: 20px;
}

.navbar .jake {
  line-height: 3em;
}
.navbar .welcome {
  line-height: 3em;
  padding-right: 3em;
}
